{% extends "layout.html" %}
{% block content %}
<div class='content-section'>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <form method="POST" action="">
                <fieldset class="form-group">
                        <div class="input-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">TICKER</span>
                                </div>
                                <input type="text" class="form-control" name="ticker" id="ticker"
                                        aria-describedby="inputGroupPrepend" required>
                                <input type="submit" value="Research!" class="btn btn-outline-secondary">
                        </div>
                </fieldset>
        </form>
        <br>
        {% if graph_flag == True %}
        <h6><a class="mr-2">{{ ticker|safe }} price over time:</a></h6>
        <div>
                <canvas id="chart1"></canvas>
        </div>
        <script>
                new Chart(document.getElementById("chart1"), {
                        type: 'line',
                        data: {
                                labels: {{ record_date|safe }},
                                datasets: [{
                                        data: {{ close_price|safe }},
                                        label: "Close price",
                                        backgroundColor: 'rgba(51, 102, 204, 0.2)',
                                        borderColor: 'rgba(51, 102, 204, 1)',
                                        borderWidth: 2,
                                        lineTension: 0
                                }, {
                                        data: {{ sma50|safe }},
                                        label: "50 days sma",
                                        backgroundColor: 'rgba(255, 153, 102, 0)',
                                        borderColor: 'rgba(255, 153, 102, 1)',
                                        fill: false,
                                        borderWidth: 2,
                                        cubicInterpolationMode: 'monotone'
                                }, {
                                        data: {{ sma200|safe }},
                                        label: "200 days sma",
                                        backgroundColor: 'rgba(0, 204, 153, 0)',
                                        borderColor: 'rgba(0, 204, 153, 1)',
                                        fill: false,
                                        borderWidth: 2,
                                        cubicInterpolationMode: 'monotone'
                                }]
                        },
                        options: {
                                scales: {
                                yAxes: [{
                                        ticks: {
                                                beginAtZero: false,
                                                callback: function (value, index, values) { return '$' + value; },
                                                fontSize: 8
                                        }
                                }],
                                        xAxes: [{
                                                ticks: {
                                                        autoSkip: true,
                                                        maxTicksLimit: 20,
                                                        fontSize: 8
                                                }
                                        }]
                        },
                        elements: {
                                point: { radius: 0.1 }
                        },
                        tooltips: {
                                mode: 'index',
                                        intersect: false
                        },
                        hover: {
                                mode: 'index',
                                        intersect: false
                        },
                        legend: {
                                display: true
                        }
                        }
                });
        </script>
        {% endif %}
</div>
{% endblock content %}